
body{
    background-color: #f3eeee; 
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #68A74D;
    border-radius: 5px;
}
  
.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.border-green-rounded {
    border-style: solid;
    border-color:  #45a049; 
    border-width: 3px; 
    border-radius: 0.35rem;
  }
  
.login-logo {
    width: 80%;
    height: 30%;
}

.text-green{
    color:  #68A74D;
}

.bg-green {
    background-color: #68A74D; 
}